<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.1/dist/leaflet.css"
    integrity="sha256-sA+zWATbFveLLNqWO2gtiw3HL/lh1giY/Inf1BJ0z14=" crossorigin="" />
  <script src="https://unpkg.com/leaflet@1.9.1/dist/leaflet.js"
    integrity="sha256-NDI0K41gVbWqfkkaHj15IzU7PtMoelkzyKp8TOaFQ3s=" crossorigin=""></script>
  <title>{{file.location.name}}</title>
  <style>
    #map {
      position: absolute;
      width: 100%;
      height: 100vh;
    }
  </style>
</head>

<body>
  <div class=" d-flex flex-row justify-content-end m-3">
    <h1 class="col d-none d-sm-block">{{file.location.name}}</h1>
    <div class="d-flex justify-content-end">
      <select class="form-control form-control-sm" style="margin-right: 10px; width: 200px;" name="place" id="address">
        {{#each file.accountLocation}}
        <option style="padding: 0px 50px;" value="{{this.fields.name}}">{{this.fields.name}}</option>
        {{/each}}
      </select>
      <button onclick="findAddress()" class="btn btn-outline-dark btn-block">Submit</button>
    </div>
  </div>

  <div id="map"></div>

  <script>
    let lat = {{ file.location.Lat }}
    let lng = {{ file.location.Lng }}
    
    let map = L.map('map').setView([lat, lng], 10);
    L.tileLayer('https://api.maptiler.com/maps/hybrid/256/{z}/{x}/{y}.jpg?key=LKFVJlVNPETLFbjeIvQt', {
      attribution: '<a href="https://www.maptiler.com/copyright/" target="_blank">&copy; MapTiler</a> <a href="https://www.openstreetmap.org/copyright" target="_blank">&copy; OpenStreetMap contributors</a>',
    }).addTo(map);

    let marker = L.marker([lat, lng]).addTo(map);

    let circle = L.circle([lat, lng], {
      color: 'red',
      fillColor: "#f03",
      fillOpacity: 0.1,
      radius: 5000,
    }).addTo(map);



      marker.bindPopup(`<b>${{ file.location.name }} </b>.`).openPopup();

    let address = document.querySelector("#address");

    var searchParams = new URLSearchParams(window.location.search);
    function showAddress() {
      searchParams.delete('name')
      searchParams.delete('Lat')
      searchParams.delete('Lng')
      searchParams.delete('polygon_svg')
      window.location.search = searchParams.toString()
      if (addressArr.length > 0) {
        addressArr.forEach(element => {
          if (element.display_name.includes('Ethiopia')) {
            searchParams.set('name', address.value);
            searchParams.set('Lat', element.lat);
            searchParams.set('Lng', element.lon);
            searchParams.set('polygon_svg', element.boundingbox)
          }
          window.location.search = searchParams.toString()
        })
      }

    }

    function findAddress() {
      let url = "https://nominatim.openstreetmap.org/search?format=json&countrycodes=ET&polygon_svg=1&q=" + address.value;
      fetch(url)
        .then(response => response.json())
        .then(data => addressArr = data)
        .then(show => showAddress())
        .catch(e => console.log(e))
    }
  </script>


</body>

</html>